*{ /*é uma padronização de configuração para todos os elementos da página*/
    padding: 0;
    margin: 0;
    
    /*Box Sizing é o tamanno da caixa, aqui dizemos para ele que, para o tamanho das nossas caixas, usamos as bordas delas.*/
    /*Necessitamos de atenção para calcula a largura da caixa + a borda para saber o tanto que está colocando no total e isso pode vazar*/
    /*Quando configuramos o box-sizing border box, o tamanho da caixa passa a ser 149 já com o padding, border e width juntos, sem somar estes ao width depois.*/
    /* width: 149px;   */
    /*Quando usamos box-sizing: border-box, o navegador mantém o tamanho total da caixa fixo (por exemplo, 100px), e aí ele diminui a área do conteúdo automaticamente pra que o padding e a borda caib*/
    box-sizing: border-box;
}

/*Elementos do Header - Cabeçalho*/
.header{
    display: flex; /*Flex é adicionado somente no elemento pai para poder mexer na posição dos elementos filhos em relação ao elemento pai, os deixa mais flexíveis.*/ 
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


.menu-itens{
    display: flex; /*display flex adicionado ao pai ul para alinhar os filhos em row*/
    list-style-type: none; /*remove ou altera os marcadores da lista*/
    justify-content: center;
}

.item{
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 16px;
}

.menu-itens li {
    margin: 2px;
}

.btn-green{
    background-color: #36B864;/*Aplica cor de fundo para o elemento selecionado*/
    border: none; /*Remove a borda do botão que é aplicado automaticamente pelo navegador*/
    color: #ffffff; /*Aplica cor no texto*/
    border-radius: 5px; /*Arredondamento dos cantos da borda*/
    padding: 20px 30px; /*Espaçamentos diferentes para os lados, top, right, bot, left, colocando somente dois valores, ele entende que é 10px para top e bot e 20 para right e left */
    cursor: pointer;
}

.btn-green:hover{
    background-color: #6cb785;
}


















/* 
html{
    font-size: 10px;
}

@font-face {
    font-family: sauce;
    src: url(../fonts/pepper-sauce.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}



.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.menu{width: 40%;
}

.screen{
    background-color: blue;
    width: 500px;
    height: 300px;
    position: absolute;
}

.listas{
    display: flex;
    list-style-type:none;
    justify-content: center;
    width: 100%;
}

.item{
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size:1.6rem;
    font-family: 'sauce', sans-serif;

    
}

.listas li {
    margin: 5px ;
}

.btn-green{
    background-color: #36B864;
    color: #ffffff;
    border: transparent;
    height: 48px;
    width: 159px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-shadow: 2px 2px 10px #11351e;
}
.btn-green:hover{
    background-color: var(--cor--proclean--green);
}




O box-sizing é como reservar x px para recalcular o tamanho do conteudo */