*{ /* Reset - é uma padronização de configuração para todos os elementos da página*/
    padding: 0;
    margin: 0;
    
    /*Box Sizing é o tamanno da caixa, aqui dizemos para ele que, para o tamanho das nossas caixas, usamos as bordas delas.*/
    /*Necessitamos de atenção para calcula a largura da caixa + a borda para saber o tanto que está colocando no total e isso pode vazar*/
    /*Quando configuramos o box-sizing border box, o tamanho da caixa passa a ser 149 já com o padding, border e width juntos, sem somar estes ao width depois.*/
    /* width: 149px;   */
    /*Quando usamos box-sizing: border-box, o navegador mantém o tamanho total da caixa fixo (por exemplo, 100px), e aí ele diminui a área do conteúdo automaticamente pra que o padding e a borda caib*/
    box-sizing: border-box;
}

html{
    font-size: var(--font-size);
}

/* importação de fontes baixadas */

@font-face{
    font-family: playfair;
    src: url(../fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
}

/* header{
    background-color: aquamarine;
    position: absolute;
    width: 100%;
    box-shadow: 1px 1px 5px #000000;
} */

/*Elementos do Header - Cabeçalho*/
.header{
    display: flex; /*Flex é adicionado somente no elemento pai para poder mexer na posição dos elementos filhos em relação ao elemento pai, os deixa mais flexíveis.*/ 
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  

    /* margin-top: 10px; */
}

.container{
    max-width: 90%; /**/
    /* background-color: aquamarine; */
    margin: auto;

}

.menu{
    /* width: 600px; Medida Absoluta -  Ex.: px é uma medida absoluta, s er absoluto significa que, não será alterada automaticamente de acordo com o tamanho da janela */
    width: 52%;
}

/* .sub-menu{
    display: none;
}

.ativa-menu:hover .sub-menu{
    display: block;
    position: absolute;
} */

.menu-itens{
    display: flex; /*display flex adicionado ao pai ul para alinhar os filhos em row*/
    list-style-type: none; /*remove ou altera os marcadores da lista*/
    justify-content: center;

}


.item{
    text-decoration: none;
    margin: 12px 12px;
    display: block;
    font-size: 1rem;
    color: var(--cor-proclean-grey);
    font-family: playfair;
    font-weight: 700; /*permite deixar a font mais "cheia"*/
}

.active{
    color: var(--cor-proclean-green)
    /* color: #36B864; Como os dois itens estão usando classe, o navegador prioriza o que está por ultimo pois os dois estão sendo selecionados pela classe, esse é um caso que a especificidade nao funciona e sim a ordem */
}

/* .item:hover{
    color: var(--cor-proclean-lil);
} */

.menu-itens li {
    margin: 2px;
}

h1{
    font-size: 2.5rem;
    width: 50%;
}

.btn-green{
    background-color: var(--cor-proclean-green);/*Aplica cor de fundo para o elemento selecionado*/
    border: none; /*Remove a borda do botão que é aplicado automaticamente pelo navegador*/
    color: var(--cor-proclean-white); /*Aplica cor no texto*/
    border-radius: 5px; /*Arredondamento dos cantos da borda*/
    padding: 12px 32px; /*Espaçamentos diferentes para os lados, top, right, bot, left, colocando somente dois valores, ele entende que é 10px para top e bot e 20 para right e left */
    cursor: pointer;
    font-size: 1rem;
    font-family: playfair;
    width: 180px;
    /* altura fixa não é recomendada, apesar de que é possível definir. Auto é o melhor valor pois ele se adapta conforme o conteudo dentro do elemento. */
                /*Position fixed nao se move com a barra de rolagem, o absolute sim*/
    text-decoration: none;
    background: linear-gradient(rgb(57, 152, 85), rgb(49, 91, 31), rgb(31, 99, 31));
    /* text-shadow: -1px 1px 2px #000000 ; */
    /* box-shadow: 0 1px 1px #000000; */
    /* line-height: ;  - Ajusta altura/espaço entre as linhas do texto*/
    /* text-align: ;   - Alinha o texto em diferentes direções */
    /* max-height define uma altura maxima*/
    /* min-height defini uma alura minima*/
}

.btn-green:hover{
    /* background-color: #6cb785;  */
    text-shadow: 0 0 2px #000000 ;

}

.logo{
    height: auto; /*auto para imagens, automaticamente ela reflete o tamanho da tela do dispositivo, pois é responsiva*/
    /* border: 2px #000000 solid ; */
    /* border-radius: 10px 20px; */
    /* display: none; - Serve para esconder um elemento */
}

.main-clean{
    height: auto;/*Altura fixa não é recomendada*/
    background-image: url(../images/Hero\ Iamge.svg);
    background-repeat: no-repeat;
    width: 80%; /*Não é a melhor opção porque a imagem é um background e diminuido o width diminui/corta a imagem*/
    margin: auto;
    background-size: cover; /*Ajusta a imagem de funto ao tamanho da DIV*/
    /* background-color: rgb(43, 255, 0); */
}

.main-content{
    width: 80%;
    font-family: playfair;
    padding: 65px 0 55px 180px ;
 
}

.main-content > p:first-child /*Pega o primeiro filho dessa classe, ou seja, o primeiro p nesse caso, tambem temos o last-child*/ {
    font-size: 1.2rem;
    color: var(--cor-proclean--green-dark);
    
}

.main-content > p:last-of-type {
    font-size: 1rem;
    color: var(--cor-proclean-grey);
    width: 51%;
    padding: 24px 0 40px 0;

}

.main-buttons > a {
    display: block;
 
    /* white-space: nowrap; - Pesquisa feita sobre como ajustar quebras de linha */
}

.main-buttons a:last-of-type{
    margin-left: 8px;
}

.main-buttons {
  
    display: flex;
    justify-content: flex-start;
    width: 42%;
}


.btn-opc{
    border: 2px black solid; 
    color: var(--cor-proclean-white);
    padding: 12px 24px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 1rem;
    font-family: playfair;
    color: #000000;
    width: 186px;
    height: auto; 
    text-decoration: none;
}


.section-solution{
    width: 80%;
    margin: auto;
}

.section-content{
    display: flex;
    justify-content: space-between;

    font-family: playfair;
    padding-top:160px ;
    margin: auto;
    width: 88%;
}

.text-content{
    padding-top: 35px ;
}


.text-content h2{
    font-size: 1.9rem;
    padding: 12px 0;
    width: 57%;
}

.text-content > p:last-of-type{
    color: var(--cor-proclean-grey);
    width: 58%;
    padding-bottom: 20px;
}

.botao{
    display: block;    
    padding-top: 20px;
}

.card{
    border: none;
    width: 50%;
}
.card-section{
    display: flex;
    justify-content: center;
    padding-top: 40px ;
    margin: auto;
    width: 63%;
}

.card-section img{
    width: 70%;
    /* margin: auto; */
}

.section-main-text{
    display: flex;
    justify-content: space-around;
    width: 50%;

}
.titulo-principal{
    width: 50%;
    margin: auto;
}

.titulo-principal h2{
    font-family: playfair;
    width: 60%;
    font-size: 2.1rem;
}

.texto-principal > p:last-of-type{
    font-family: playfair;
    width: 64%;
}

.texto-principal > p:first-child{
    font-family: playfair;
    font-weight: 600;

}

.group > a{
    display: block;
}

.group{
    display: flex;
}

.main-intro{
    padding-top: 150px ;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.titulo-intro > h2{
    font-family: playfair;
    width: 79%;
}

.texto-intro{
    font-family: playfair;
    width: 23%;
}


